@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}
#header {
    background-color: #521111;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: large;
    padding: 10px 0;
    animation: appearing 0.8s ease-in-out 0.1s 1 normal both;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    & a {
        color: white;
        text-decoration: none;
    }
    & #logo {
        width: 60px;
        height: 60px;
    }
    & button:hover, a:hover{
        filter: brightness(85%);
        cursor: pointer;
    }
    & button {
        font-size: large;
        border-radius: 2px;
        width: 90px;
        height: 45px;
        border-width: 0;
        background-color: #7A2E2E;
        color: white;
        &:first-of-type {
            background-color: #46347C;
        }
    }

    & #pages {
        display: flex;
        background-color: #701616;  
        width: 60%;
        height: 50px;
        align-items: center;
        border-radius: 3px;
        justify-content: space-evenly;
        & a {
            background-color: #923838;
            border-radius: 2px;
            padding: 7px 14px;
            display: flex;
            justify-content: center;
            width: 25%;
        }
    }
}
