* {
    margin: 0;
    padding: 0;
}

#add-post {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
    & #form-title {
        padding: 5px;
        width: 15vw;
        height: 2vw;
    }

    & #form-content {
        margin-top: 3px;
        padding: 5px;
        width: 25vw;
        height: 10vw;
        resize: none;
    }
}

#posts {
    display: flex;
    margin-top: 2vw;
    justify-content: center;

    & * {
        font-size: 1.9vw;
    }

    & ul {
        list-style: none;
    }

    & .post {
        width: 50vw;
        height: fit-content;
        margin: 1vw;
        padding: 0.7vw;
        background-color: #a6a6a6;
        & .post-user {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: start;

            & p {
                font-size: 3vw;
                font-weight: 900;
                margin-left: 15px;
                display: inline;
            }
        }
        & .post-avatar {
            width: 4vw;
            height: 4vw;
        }

        & .post-text {
            margin: 10px; 
        }
        & .post-date {
            font-size: small;
            opacity: 0.75;
        }
    }
}