* {
    margin: 0;
    padding: 0;
}

#add-post {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
    & #form-title {
        padding: 5px;
        width: 15vw;
        height: 2vw;
    }

    & #form-content {
        margin-top: 3px;
        padding: 5px;
        width: 25vw;
        height: 10vw;
        resize: none;
    }
}

#posts {
    display: flex;
    margin-top: 2vw;
    justify-content: center;

    & * {
        font-size: 1.9vw;
    }

    & ul {
        list-style: none;
    }

    & .post {
        width: 50vw;
        height: fit-content;
        margin: 1vw;
        padding: 0.7vw;
        background-color: #a6a6a6;
        & .post-user {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: start;

            & p {
                font-size: 3vw;
                font-weight: 900;
                margin-left: 15px;
                display: inline;
            }
        }
        & .post-avatar {
            width: 4vw;
            height: 4vw;
        }

        & .post-text {
            margin: 10px;
            & textarea {
                width: 90%;
                height: inherit;
            }
        }

        & .post-content {
            display: block;
            margin-top: 10px;
            background-color: rgba(0, 0, 0, 0);
            border-width: 0;
            outline: none;
            resize: none;
            width: fit-content;
            height: fit-content;
        }

        & .post-date {
            font-size: small;
            opacity: 0.75;
        }
    }
}

#post-buttons {
    display: flex;
    justify-content: flex-end;

    & #edit-post-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2vw;
        height: 2vw;
        border-width: 0;
        border-radius: 10%;
        margin-right: 5px;
        & img {
            width: 1vw;
            height: 1vw;
        }
    }
    
    & #delete-post-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2vw;
        height: 2vw;
        border-width: 0;
        border-radius: 10%;
        & img {
            width: 1vw;
            height: 1vw;
        }
    }
    
}