<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arteria: About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='styles/images/arteria-logo.png') }}">
    
</head>
<body>
    {% include "header.html" %}
    <h1 id="welcome">Добро пожаловать на Arteria – место, где мысли текут свободно!</h1>
    <div id="content">
        <div>
            <div>
                <p class="questions">Что такое Arteria?</p>
                <p class="answer">Arteria – это онлайн-платформа, созданная для тех, кто ценит глубокие размышления, аналитику и разнообразие тем. Мы стремимся стать вашим проводником в мир идей, знаний и открытий.</p>
            </div>
            <div>
                <p class="questions">Наша миссия</p>
                <p class="answer">Наша цель – вдохновлять вас новыми идеями, помогать находить ответы на сложные вопросы и расширять горизонты вашего мышления. Мы верим, что каждый человек уникален, и наша задача – предоставить вам пространство для интеллектуального роста и самовыражения.</p>
            </div>
            <div id="list">
                <div>
                    <p class="not-list">Чем мы занимаемся?</p>
                <p class="not-list">На нашем сайте вы найдете:</p>
                </div>
                
                <ul class="answer">
                    <li>
                        <b>Аналитические статьи:</b> Глубокие исследования актуальных вопросов, которые помогут вам лучше понять окружающий мир.
                    </li>
                    <li>
                        <b>Интервью и беседы:</b> Интересные разговоры с экспертами и интересными личностями.
                    </li>
                    <li>
                        <b>Рекомендации книг и фильмов:</b> Подборки материалов, которые стоит прочитать или посмотреть.
                    </li>
                </ul>
                <p>Мы постоянно обновляем контент, чтобы у вас всегда было что-то новое и интересное для чтения.</p>
            </div>
            <div>
                <p class="questions">Кто мы?</p>
                <p class="answer">Команда <i><b>Arteria</b></i> состоит из увлеченных людей, которые любят делиться своими знаниями и опытом. Наши авторы – это профессионалы в своих областях, готовые предложить свежий взгляд на привычные вещи.</p>
            </div>
            <div>
                <p class="questions">Присоединяйтесь к нам!</p>
                <p class="answer">Спасибо за то, что выбрали Arteria. Пусть ваши мысли будут свободными и яркими!</p>
            </div>
        </div>
        <div>
            <h2 class="questions">Над проектом работали:</h2>
            <ul>
                <li><a href="https://github.com/feredeyz"><b><i>feredeyz</i></b></a> - автор идеи, техническая часть проекта</li>
                <li><i><a href="https://github.com/Shukuch1">sanechka_doter</a></i> - дизайнер</li>
            </ul>
        </div>
    </div>
        
</body>
</html>