<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arteria: Contacts</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='styles/images/arteria-logo.png') }}">
</head>
<body>
    {% include "header.html" %}
    <div>
        <p>feredeyz: <a href="https://github.com/feredeyz">GitHub</a>, <a href="https://www.tiktok.com/@feredeyzz?_t=8s2yjYDVVBA&_r=1">TikTok</a></p>
        <p>Shukuch1: <a href="https://github.com/Shukuch1">GitHub</a></p>
    </div>

    <style>
        div {
            display: flex;
            justify-content: center;
            text-align: center;
        }
    </style>
</body>
</html>