<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
</head>
<header>
    <div id="header">
        <a href="{{ url_for('main.index') }}">
            <img id="logo" src="{{ url_for('static', filename='styles/images/arteria-logo.png') }}" alt="logo">
        </a>

        <div id="pages">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('profile.user')}}">
                    Profile
                </a>
            {% else %}
                <a href="{{ url_for('auth.register')}}">
                    Profile
                </a>
            {% endif %}

            <a href="{{ url_for('posts.popular')}}">
                Popular
            </a>

            <a href="{{ url_for('main.about')}}">
                About
            </a>
        </div>

        
        
        {% if current_user.is_authenticated %}
            <button name="{{ current_user.id }}" onclick="logout()">Logout</button>
            <script>
                async function logout() {
                    try {
                        const response = await fetch("/logout", { 
                            method: "DELETE",
                        });
                        if (response.ok) {
                            window.location.href = "/"; 
                        } else {
                            console.error("Logout failed");
                        }
                    } catch (error) {
                        console.error("Error during logout:", error);
                    }
                }
            </script>
        {% else %}
            <button onclick="window.location.href = `{{ url_for('auth.login') }}`">Log in</button>
            <button onclick="window.location.href = `{{ url_for('auth.register') }}`">Sign up</button>
        {% endif %}
    </div>
</header>
