<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='styles/images/arteria-logo.png') }}">

    <title>Arteria: Log in</title>
</head>
<body>
    {% include "header.html" %}
    <form action="/login" method="post">
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username }} <br>
        {{ form.password.label }} {{ form.password }} <br>
        {{ form.submit }}
     </form>
    {% if error %}
        <h1>{{ error }}</h1>
    {% endif %}
</body>
</html>