<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arteria: Popular</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/popular.css') }}">
</head>
<body>
    {% include "header.html" %}
    {% if current_user.is_authenticated %}
        <div id="add-post">
            <form action="/add-post" method="post">
                {{ form.hidden_tag() }}
                {{ form.title.label }} {{ form.title() }} <br>
                {{ form.content.label }} {{ form.content() }} <br>
                {{ form.submit() }}
            </form>
        </div>
    {% endif %}

    <div id="posts">

        <ul>
           {% for post in posts %} 
                <li>
                    <div class="post">
                        <div class="post-user">
                            <img class="post-avatar" src="{{ url_for('static', filename=(post.user.avatar or 'styles/images/user-profile-pic.jpg')) }}" alt="avatar">
                            <p>{{ post.user.username }}</p>
                        </div>
                        <div class="post-text">     
                            <h1 class="post-title" style="display: inline;">{{ post.title }}</h1> 
                            <p class="post-date" style="display: inline;">({{ post.created_at }})</p>
                            <textarea name="{{ post.user.id }}" readonly class="post-content">{{ post.content }}</textarea>
                        </div>
                        {% if current_user.id == post.user.id %}
                            <div id="post-buttons">
                                <button id="edit-post-button" onclick="editPost(this)" name="{{ post.user.id }}"><img src="{{url_for('static', filename='styles/images/edit.png')}}" alt="Edit"></button>
                                <button id="delete-post-button" onclick="deletePost(this)" name="{{ post.id }}"><img src="{{url_for('static', filename='styles/images/settings.png')}}" alt="delete"></button>
                            </div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <script src="{{ url_for('static', filename='js/popular.js') }}"></script>
</body>
</html>