<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/user_profile.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='styles/images/arteria-logo.png') }}">

    <title>Arteria: {{ current_user.username }}</title>
</head>
<body>
    {% include "header.html" %}
    <div id="about-user">
        <div id="picture">
            <img id="user-profile-pic" src="{{ url_for('static', filename=(current_user.avatar or 'styles/images/user-profile-pic.jpg')) }}" alt="avatar">
            <button onclick="document.getElementsByClassName('avatarFile')[0].click()"><img src="{{url_for('static', filename='styles/images/edit.png')}}" alt="Edit"></button>
            <input id="{{ current_user.id }}" name="image" accept="image/png, image/jpeg" type="file" style="display: none;" class="avatarFile" oninput="changeAvatar(this)">
        </div>
        <div>
            <h1>{{current_user.username}}</h1>
            <p id="date">{{current_user.date}}</p>
            <div id="desc">
                <textarea id="desc-text" placeholder="Click to edit description">{{ current_user.description or "" }}</textarea>
                <button id="confirm-desc" name="{{ current_user.id }}" onclick="confirmEditting(this)"><img src="{{url_for('static', filename='styles/images/check.png')}}" alt="C"></button>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/userProfile.js')}}"></script>
</body>
</html>